<div id="<%= dom_id inventory_food %>">
  <p>
    <strong>Quantity:</strong>
    <%= inventory_food.quantity %>
  </p>

  <p>
    <strong>Inventories:</strong>
    <%= inventory_food.inventories_id %>
  </p>

  <p>
    <strong>Foods:</strong>
    <%= inventory_food.foods_id %>
  </p>

</div>
